<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="./styles.css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ring_name }} List</title>
  </head>
  <body>
    <h1>{{ ring_name }} List</h1>
    <center>
      [ <a href="./webring/previous">&lt;- prev</a> | <a href="./webring/next">next -&gt;</a> ]
      <br>{{ ring_description }}
    </center>
    <h2>members</h2>
    <p>there are <b>{{ number_of_sites }}</b> sites in the webring.</p>
    <div id="members">
      {{ table_of_sites | safe}}
    </div>
    <p>You can add all sites with declared RSS feeds to your feed reader with this <a href ="{{ opml }}">OPML</a> link.</p>
    <h2>join</h2>
    <ol>
      <li>choose a slug (unique code) for your site</li>
      <li>add the webring HTML somewhere on your site:
	<pre>
	  &lt;a href="https://404salad.github.io/webring/<b>YOUR_SLUG</b>/previous"&gt;←&lt;/a&gt;<br>
	  &lt;a href="https://404salad.github.io/webring"&gt;webring&lt;/a&gt;<br>
	  &lt;a href="https://404salad.github.io/webring/<b>YOUR_SLUG</b>/next"&gt;→&lt;/a&gt;
	</pre>
	feel free to customize the content as you'd like, as long as the links are intact. make sure to replace
	"YOUR_SLUG" with your actual slug!
      </li>
      <li>open a pull request on <a href="https://github.com/404salad/webring/tree/main">github</a> and add your
	site to <b>websites.json</b>. here's the format:
	<pre>
	  {<br>
	  <div style="margin-left:2em">
	    "name": "<span class="comment">your name</span>",<br>
	    "slug": "<span class="comment">your slug</span>",<br>
	    "about": "<span class="comment">short description of your site</span>",<br>
	    "url": "<span class="comment">your site url</span>",<br>
	    "rss": "<span class="comment">your rss feed url (optional, delete if unneeded)</span>", <br>
	    "owner": "<span class="comment">link to you: could be social media, neocities profile, an email, etc...</span>"
	  </div>
	  }
	</pre>
	make sure everything's in quotes, and that there's a comma after the closing curly brace } of the previous item.<br>
      </li>
    </ol>
    <br>
    <footer>
      <p>
	Last updated: {{ current_time }}<br>
	Made by: <a href="{{ ring_owner_site }}">{{ ring_owner }}</a><br>
	Code based on <a href="https://github.com/k3rs3d/ringfairy">ringfairy</a> and <a href="https://github.com/stellophiliac/roboring/">roboring</a>
      </p>
    </footer>
  </body>
</html>
